.category {
    padding-top: 20px;
    position: relative;
    background: #fff;
    text-align: center;
}

.categoryTitle {
    margin: 0;
    font-size: 1.125em;
    font-weight: bold;
}

.categoryImage {
    /*
      Ensure golden ratio for the hero size while limiting it to some extend to
      the viewport width
    */
    height: 61.8vh;
    max-height: 400px;
}
