.categoryTitle {
    font-size: 1.5em;
    color: #000;
}

.tag {
    color: #A0A0A0;
    text-decoration: none;
    display: inline-block;
    padding: .33333rem .5rem;
    line-height: 1;
    border-radius: 2px;
    margin-right: .5em;
    margin-top: 10px;
}

.preview {
    border-bottom: 1.5px solid #373F49;
    margin-top: 2em;

}

