.hero {
    position: relative;
    background: #fff;
    text-align: center;
    align-items: center;
}

.heroImage {
    /*
      Ensure golden ratio for the hero size while limiting it to some extend to
      the viewport width
    */
    height: 82vh;
    max-height: 150rem;
}


@media (min-width: 300px) {
    .heroImage {
        height: 20vh;
        max-height: 100rem;
    }
}
@media (min-width: 1000px) {
    .heroImage {
        height: 82vh;
        max-height: 150rem;
    }
}

.heroDetails {
    position: absolute;
    background: rgb(241, 88, 42, 0.9);
    left: 50%;
    bottom: 35%;
    transform: translate(-50%, 0);
    font-size: 30px;
    padding: 0 0.5em;
    align-self: center;
}

@media (min-width: 600px) {
    .heroDetails {
        font-size: 40px;
    }
}

@media (min-width: 1000px) {
    .heroDetails {
        font-size: 60px;
    }
}

.heroHeadline {
    margin: 0;
    color: #fff;
}

.heroTitle {
    margin: 0;
    font-size: 1.125em;
    font-weight: bold;
}

.p {
    width: 100%
}
